body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: white;
    background-color: hsl(226, 43%, 10%);
   
}


.Colours {
color: 
/*### Primary*/
/*Blue */  
    hsl(246, 80%, 60%),
/* Light red (work):*/     
    hsl(15, 100%, 70%),
/* Soft blue (play):*/  
    hsl(195, 74%, 62%),
/* Light red (study):*/ 
    hsl(348, 100%, 68%),
/* Lime green (exercise):*/ 
    hsl(145, 58%, 55%),
/* Violet (social): */ 
    hsl(264, 64%, 52%),
/* Soft orange (self care):*/ 
     hsl(43, 84%, 65%),

/*------------------------------------*/ 

/*### Neutral*/ 
/* - Very dark blue:*/ 
hsl(226, 43%, 10%),
/* - Dark blue: */ 
hsl(235, 46%, 20%),
/* - Desaturated blue: */ 
hsl(235, 45%, 61%),
/* - Pale Blue:*/ 
hsl(236, 100%, 87%);

}


#cardLayout{
    margin-top: 15.8rem;
    margin-bottom: 5rem;
    padding: 0 0 0 3rem;

}

.userAvatar {
    height: 84px;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 2.5rem;
}

.repTitle{
    color:hsl(236, 100%, 87%);
    font-size: 14px;
    font-weight: 500;
    margin-left: 0.2rem;
}

h1 {
    font-weight: 300;
    margin-left: 0.2rem;
}
.userSide{ 
    background-color: hsl(235, 46%, 20%);
}

.userSide {
    width: 255px;
    height: 525px;
    border-radius: 15px;
    margin: 0 2rem 0 0;
}

.columns{
    width: 255px;
    margin: 0 2rem 0 0; 
    overflow: hidden;
}

.column {
    border-radius: 13px;
    margin-bottom: 1.5rem;
    height: 250px;
    overflow: hidden;
   
}

.column:hover {
    cursor: pointer;
}


.userSide:hover{
    box-shadow: 0 8px 32px 0 rgba(143, 233, 255, 0.1);
    transition: 0.3s;
}

.work, .exercise, .play, .social, .study, .selfCare{
    border-radius: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 3rem;
    position: relative;
    z-index: 1;
}


.report{
    padding: 2.1rem 2rem 2rem 1.8rem;
    height: 355px;
    background-color: hsl(246, 80%, 60%);
    border-radius: 15px;
}

.timeLimit{
    padding: 1.5rem 2rem 0rem 2rem;
}

.weekLimit, .monthLimit{
   margin-top: 1rem;
}

.dayLimit, .weekLimit, .monthLimit{
    color:hsl(235, 45%, 61%) ;
    width: 80px;
}

.chosenTime {
    font-weight: 500;
    color: hsl(195, 74%, 62%);
}

.dayLimit:hover, .weekLimit:hover, .monthLimit:hover{
    color:hsl(195, 74%, 62%);
    cursor: pointer;
}

.boxes{
    padding: 1.5rem 2rem 2rem 1.8rem;
    margin-bottom: 2rem;
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
}

.icons{
    text-align: right;
}

.work-icon, .exercise-icon, .selfCare-icon, .study-icon, .social-icon, .play-icon {
    position: absolute;
    z-index: -1;
    top: -10px;
    right: 10px;
    
}

.exercise-icon {
    top: 0;
}


.work {
    background-color: hsl(15, 100%, 70%);
}

.wShadow:hover{
    box-shadow: 0px 8px 32px -18px hsla(15, 100%, 70%, 0.645);
    transition: 0.3s;
}

.exercise{
    background-color: hsl(145, 58%, 55%);
}

.eShadow:hover{
    box-shadow: 0px 8px 32px -18px hsl(145, 58%, 55%, 0.645);
    transition: 0.3s;
}
.play{
    background-color: hsl(195, 74%, 62%);
}

.pShadow:hover{
    box-shadow: 0px 8px 32px -18px hsl(195, 74%, 62%, 0.645);
    transition: 0.3s;
}

.social {
    background-color: hsl(264, 64%, 52%);
}
.soShadow:hover{
    box-shadow: 0px 8px 32px -18px hsl(264, 64%, 52%, 0.645);
    transition: 0.3s;
}

.study {
    background-color: hsl(348, 100%, 68%);
}

.stShadow:hover{
    box-shadow: 0px 8px 32px -18px hsl(348, 100%, 68%, 0.645);
    transition: 0.3s;
}

.selfCare {
    background-color: hsl(43, 84%, 65%);
}
.seShadow:hover{
    box-shadow: 0px 8px 32px -18px hsl(43, 84%, 65%, 0.645);
    transition: 0.3s;
}


.hoursPrevious{
    display: flex;
    color:hsl(236, 100%, 87%);
    font-size: 14px;
}

.preData {
    margin-right: 0.2em;
}

.time{
    font-size: 3.5rem;
    font-weight: 300;
}

.cardTitle {
    font-weight: 500;
    margin-bottom: 1rem;
}

.work .threeDot:hover{
    filter: invert(65%) sepia(19%) saturate(2949%) hue-rotate(321deg) brightness(112%) contrast(101%);
}
.play .threeDot:hover{
    filter: invert(62%) sepia(99%) saturate(311%) hue-rotate(160deg) brightness(94%) contrast(91%);
}
.study .threeDot:hover{
    filter: invert(49%) sepia(37%) saturate(1102%) hue-rotate(302deg) brightness(101%) contrast(103%);
}
.exercise .threeDot:hover{
    filter: invert(69%) sepia(30%) saturate(782%) hue-rotate(92deg) brightness(95%) contrast(88%);
}
.social .threeDot:hover{
    filter: invert(22%) sepia(48%) saturate(4529%) hue-rotate(257deg) brightness(91%) contrast(91%);
}
.selfCare .threeDot:hover{
    filter: invert(1%) sepia(99%) saturate(3360%) hue-rotate(354deg) brightness(106%) contrast(104%);
}